body {
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  line-height: 1.25;
  margin-top: 6rem;
}

pre,
code,
code span {
  background-color: #111 !important;
  font-weight: normal !important;
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

pre {
  border-radius: 4px;
  line-height: 1.5;
  font-size: 14px;
  padding: 0.75rem;
}

hr {
  margin: 4em;
}

blockquote {
  margin: 3em 0;
}

.container {
  max-width: 70.0rem;
}

a.navigation-title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  padding-left: 2rem;
}
a.navigation-title:after {
  content: '';
}

.list ul li {
  margin-bottom: 2em;
}

.list ul li span {
  width: auto;
  text-align: left;
  display: block;
}

@media only screen and (min-width: 768px) {
  .list ul li span {
    width: 20rem;
    text-align: right;
    display: inline-block;
  }
  .list ul li a {
    display: inline-block;
    max-width: calc(100% - 23rem);
    vertical-align: top;
  }
}
