body {
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  line-height: 1.25;
  margin-top: 6rem;
}

pre,
code,
code span {
  background-color: #111 !important;
  font-weight: normal !important;
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

pre {
  border-radius: 4px;
  line-height: 1.5;
  font-size: 14px;
  padding: 0.75rem;
}

hr {
  margin: 4em;
}

.container {
  max-width: 70.0rem;
}

a.navigation-title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
}
a.navigation-title:after {
  content: '';
}

.list ul li span {
  width: auto;
}
.list ul li a {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  a.navigation-title {
    position: absolute;
    left: 2rem;
  }
  .list ul li span {
    width: 20rem;
  }
  .list ul li a {
    display: inline;
  }
}
