body {
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  line-height: 1.25;
  margin-top: 6rem;
}

pre,
code,
code span {
  background-color: #111 !important;
  font-weight: normal !important;
  font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

pre {
  border-radius: 4px;
  line-height: 1.5;
  font-size: 14px;
  padding: 0.75rem;
}

hr {
  margin: 4em;
}

.container {
  max-width: 70.0rem;
}

.navigation-title {
  position: absolute;
  left: 2rem;
}
